.carContainer {
  background: #eee;
  padding: 10px;
  width: 60%;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #3336;
}

.carForms {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 10px;
}
form {
  width: 100%;
}
